.counter{
    width:40%;
    margin:2rem auto ;
    padding:1rem;
    box-shadow:0 1px 4px rgba(0,0,0,0.2);
    background-color:#252525;
    color:white;
    border-radius:12px;
    
}
.counter h1{
    font-size:2rem;
    text-align:center;
    
};
.counterValue{
    padding:4rem auto;
    margin:1rem;
    background-color:#ccc;
   color:#644d4d; 
   text-align:center;
   font-size:2rem;
   margin-left:10rem;
  
};
  button{
    background-color:#3c00f0;
    border-radius:12px;
    border:1px solid #3c00f0;
    font-size:1rem;
    padding:0.5rem 1rem;
    margin:1rem;
    text-align:center;
}